<!doctype html>
<html>
<head>
</head>
<body>
<div id='header'></div>
<div id="survey-show">
    <h3>{{survey.name}}</h3>
    <div class="meta">
        Added by
        <span class="author">{{survey.author_firstname}} {{survey.author_lastname}}</span>
        on
        <span class="date">{{survey.created_at|date('l, j F Y @ H:i') }}</span>
    </div>
    <div class="questions">

        <?php foreach ($questions as $question): ?>
        <div class="question">
            <h4><?php echo $question['sentence'] ?></h4>
            <ul class="choices">
                <li class="choice"><?php echo $question['first_choice'] ?></li>
                <li class="choice"><?php echo $question['second_choice'] ?></li>
                <li class="choice"><?php echo $question['third_choice'] ?></li>
            </ul>
        </div>
        <?php endforeach ?>
    </div>
    <a class="button fleft" href="index.php">&larr; Back to list</a>
    <a class="button fright" href="answer.php?id=<?php echo $_GET['id'] ?>">Answer this survey &rarr;</a>
</div>
<div id='footer'></div>
